.WeatherForecast {
    text-align: center;
  }
  
  .WeatherForecast-temperature-min {
    opacity: 0.6;
    margin-left: 5px;
    color: #F65382;
  }

  .WeatherForecast-temperature-max {
    color:#DA5F82;
  }